Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
doc/Makefile.in
include/Makefile.in
src/Makefile.in
unitTesting/Makefile.in
ltmain.sh
plugin/CollisionDetector.h
plugin/CollisionDetectorSK.cc
plugin/DynamicsSimulator.h
plugin/DynamicsSimulatorSK.cc
plugin/HRPcontroller.h
plugin/HRPcontrollerSK.cc
plugin/ModelLoader.h
plugin/ModelLoaderSK.cc
plugin/OpenHRPCommon.h
plugin/OpenHRPCommonSK.cc
plugin/SequencePlayer.h
plugin/SequencePlayerSK.cc
plugin/ViewSimulator.h
plugin/ViewSimulatorSK.cc
plugin/walkpluginJRL.h
plugin/walkpluginJRLSK.cc
build/
,svn-log
+committed/
*~
*.swp
_build-DEBUG-CB/
_build-RELEASE/
src/Mathematics/PolynomeFoot_backup.cpp
src/Mathematics/PolynomeFoot_backup.hh
tests/CMakeCache.txt
tests/CMakeFiles/
tests/CPackConfig.cmake
tests/CPackSourceConfig.cmake
tests/CTestTestfile.cmake
tests/DartConfiguration.tcl
tests/Makefile
tests/TestHerdt2010DynamicFilter.cpp
tests/TestHerdt2010_backup.cpp
tests/TestMorisawaStairs.cpp
tests/cmake/
tests/cmake_install.cmake
tests/config.h
tests/config.log
tests/doc/
tests/include/
tests/jrl-walkgen.cbp
tests/jrl-walkgen.pc
tests/src/
tests/tests/
src/FootTrajectoryGeneration/FootTrajectoryGenerationAbstract.cpp.orig
src/FootTrajectoryGeneration/FootTrajectoryGenerationAbstract.hh.orig
src/FootTrajectoryGeneration/FootTrajectoryGenerationStandard.cpp.orig
src/FootTrajectoryGeneration/OnLineFootTrajectoryGeneration.cpp.orig
src/Mathematics/Bsplines.cpp.orig
src/Mathematics/Bsplines.hh.orig
src/PatternGeneratorInterfacePrivate.cpp.orig
src/StepStackHandler.cpp.orig
src/ZMPRefTrajectoryGeneration/ZMPDiscretization.cpp.orig
src/patterngeneratorinterfaceprivate.hh.orig
tests/TestBsplines.cpp.orig
tests/TestHerdt2010.cpp.orig


