Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
doc/Makefile.in
include/Makefile.in
src/Makefile.in
unitTesting/Makefile.in
ltmain.sh
plugin/CollisionDetector.h
plugin/CollisionDetectorSK.cc
plugin/DynamicsSimulator.h
plugin/DynamicsSimulatorSK.cc
plugin/HRPcontroller.h
plugin/HRPcontrollerSK.cc
plugin/ModelLoader.h
plugin/ModelLoaderSK.cc
plugin/OpenHRPCommon.h
plugin/OpenHRPCommonSK.cc
plugin/SequencePlayer.h
plugin/SequencePlayerSK.cc
plugin/ViewSimulator.h
plugin/ViewSimulatorSK.cc
plugin/walkpluginJRL.h
plugin/walkpluginJRLSK.cc
build/
,svn-log
+committed/
*~
*.swp
_build-DEBUG/
_build-RELEASE/
src/Mathematics/PolynomeFoot_backup.cpp
src/Mathematics/PolynomeFoot_backup.hh
tests/CMakeCache.txt
tests/CMakeFiles/
tests/CPackConfig.cmake
tests/CPackSourceConfig.cmake
tests/CTestTestfile.cmake
tests/DartConfiguration.tcl
tests/Makefile
tests/TestHerdt2010DynamicFilter.cpp
tests/TestHerdt2010_backup.cpp
tests/TestMorisawaStairs.cpp
tests/cmake/
tests/cmake_install.cmake
tests/config.h
tests/config.log
tests/doc/
tests/include/
tests/jrl-walkgen.cbp
tests/jrl-walkgen.pc
tests/src/
tests/tests/
*.REMOTE.*
*.BASE.*
*.LOCAL.*
*.BACKUP.*
*.orig
*.cbp
*.user
*.cmake
*dirty
*.eps
*.png
*.tex
*.dat
*.gnu
*.gif
*.py
*.pyc
*#*
tests/*.txt
tests/*.csv
_build-DEBUG-QTCREATOR/*
_build-RELEASE-QT/*
commit_bien_herdt
tests/TestHirukawa2007.cpp_dummy
tests/filtre_dynamic_results.txt
_build-INFORELDEB/*